openapi: 3.1.0
info:
  title: Amazon Athena API
  description: >-
    Amazon Athena is an interactive query service that makes it easy to analyze data in Amazon S3 using standard SQL.
    Athena is serverless, so there is no infrastructure to manage, and you pay only for the queries that you run.
  version: '2017-05-18'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://athena.us-east-1.amazonaws.com
    description: Amazon Athena API endpoint
security:
  - sigv4: []
tags:
  - name: Query Executions
    description: Operations for running and managing SQL query executions
  - name: Named Queries
    description: Operations for creating and managing saved SQL queries
  - name: Work Groups
    description: Operations for managing Athena work groups
  - name: Data Catalogs
    description: Operations for managing data catalogs
  - name: Databases
    description: Operations for listing databases in a data catalog
  - name: Table Metadata
    description: Operations for listing and getting table metadata
  - name: Prepared Statements
    description: Operations for managing prepared SQL statements
  - name: Tags
    description: Operations for managing resource tags
paths:
  /?Action=StartQueryExecution:
    post:
      operationId: startQueryExecution
      summary: Amazon Athena Start Query Execution
      description: Runs the SQL query statements contained in the query string. Requires you to have access to the workgroup in which the query ran.
      tags:
        - Query Executions
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartQueryExecutionInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  QueryString: "SELECT * FROM my_table LIMIT 10"
                  QueryExecutionContext:
                    Database: "my_database"
                    Catalog: "AwsDataCatalog"
                  ResultConfiguration:
                    OutputLocation: "s3://my-bucket/athena-results/"
                  WorkGroup: "primary"
      responses:
        '200':
          description: Query execution started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartQueryExecutionOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    QueryExecutionId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
  /?Action=StopQueryExecution:
    post:
      operationId: stopQueryExecution
      summary: Amazon Athena Stop Query Execution
      description: Stops a query execution. Requires you to have access to the workgroup in which the query ran.
      tags:
        - Query Executions
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopQueryExecutionInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  QueryExecutionId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      responses:
        '200':
          description: Query execution stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopQueryExecutionOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=GetQueryExecution:
    post:
      operationId: getQueryExecution
      summary: Amazon Athena Get Query Execution
      description: Returns information about a single execution of a query if you have access to the work group in which the query ran.
      tags:
        - Query Executions
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQueryExecutionInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  QueryExecutionId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      responses:
        '200':
          description: Query execution details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQueryExecutionOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    QueryExecution:
                      QueryExecutionId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      Query: "SELECT * FROM my_table LIMIT 10"
                      StatementType: "DML"
                      Status:
                        State: "SUCCEEDED"
                        SubmissionDateTime: "2024-01-15T10:30:00Z"
                        CompletionDateTime: "2024-01-15T10:30:05Z"
                      WorkGroup: "primary"
  /?Action=BatchGetQueryExecution:
    post:
      operationId: batchGetQueryExecution
      summary: Amazon Athena Batch Get Query Execution
      description: Returns the details of a single query execution or a list of up to 50 query executions, which you provide as an array of query execution ID strings.
      tags:
        - Query Executions
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetQueryExecutionInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  QueryExecutionIds:
                    - "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    - "b2c3d4e5-f6a7-8901-bcde-f12345678901"
      responses:
        '200':
          description: Query executions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetQueryExecutionOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    QueryExecutions:
                      - QueryExecutionId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                        Query: "SELECT * FROM my_table"
                        Status:
                          State: "SUCCEEDED"
                    UnprocessedQueryExecutionIds: []
  /?Action=ListQueryExecutions:
    post:
      operationId: listQueryExecutions
      summary: Amazon Athena List Query Executions
      description: Provides a list of available query execution IDs for the queries in the specified workgroup.
      tags:
        - Query Executions
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListQueryExecutionsInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  WorkGroup: "primary"
                  MaxResults: 10
      responses:
        '200':
          description: Query execution IDs listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryExecutionsOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    QueryExecutionIds:
                      - "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    NextToken: ""
  /?Action=GetQueryResults:
    post:
      operationId: getQueryResults
      summary: Amazon Athena Get Query Results
      description: Streams the results of a single query execution specified by QueryExecutionId from the Athena query results location in Amazon S3.
      tags:
        - Query Executions
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQueryResultsInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  QueryExecutionId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  MaxResults: 100
      responses:
        '200':
          description: Query results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQueryResultsOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    ResultSet:
                      Rows:
                        - Data:
                            - VarCharValue: "column1"
                            - VarCharValue: "column2"
                        - Data:
                            - VarCharValue: "value1"
                            - VarCharValue: "value2"
                      ResultSetMetadata:
                        ColumnInfo:
                          - Name: "column1"
                            Type: "varchar"
                          - Name: "column2"
                            Type: "varchar"
                    NextToken: ""
  /?Action=GetQueryRuntimeStatistics:
    post:
      operationId: getQueryRuntimeStatistics
      summary: Amazon Athena Get Query Runtime Statistics
      description: Returns query execution runtime statistics related to a single execution of a query if you have access to the workgroup in which the query ran.
      tags:
        - Query Executions
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQueryRuntimeStatisticsInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  QueryExecutionId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      responses:
        '200':
          description: Query runtime statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQueryRuntimeStatisticsOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    QueryRuntimeStatistics:
                      Rows:
                        InputRows: 1000
                        InputBytes: 50000
                        OutputRows: 100
                        OutputBytes: 5000
                      Timeline:
                        QueryQueueTimeInMillis: 50
                        QueryPlanningTimeInMillis: 100
                        EngineExecutionTimeInMillis: 2000
                        ServiceProcessingTimeInMillis: 50
                        TotalExecutionTimeInMillis: 2200
  /?Action=CreateNamedQuery:
    post:
      operationId: createNamedQuery
      summary: Amazon Athena Create Named Query
      description: Creates a named query in the specified workgroup. Requires that you have access to the workgroup.
      tags:
        - Named Queries
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNamedQueryInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  Name: "MyNamedQuery"
                  Description: "A sample named query"
                  Database: "my_database"
                  QueryString: "SELECT * FROM my_table WHERE date > '2024-01-01'"
                  WorkGroup: "primary"
      responses:
        '200':
          description: Named query created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNamedQueryOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    NamedQueryId: "c3d4e5f6-a7b8-9012-cdef-123456789012"
  /?Action=DeleteNamedQuery:
    post:
      operationId: deleteNamedQuery
      summary: Amazon Athena Delete Named Query
      description: Deletes the named query if you have access to the workgroup in which the query was saved.
      tags:
        - Named Queries
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteNamedQueryInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  NamedQueryId: "c3d4e5f6-a7b8-9012-cdef-123456789012"
      responses:
        '200':
          description: Named query deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNamedQueryOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=GetNamedQuery:
    post:
      operationId: getNamedQuery
      summary: Amazon Athena Get Named Query
      description: Returns information about a single query. Requires that you have access to the workgroup in which the query was saved.
      tags:
        - Named Queries
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNamedQueryInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  NamedQueryId: "c3d4e5f6-a7b8-9012-cdef-123456789012"
      responses:
        '200':
          description: Named query retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNamedQueryOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    NamedQuery:
                      NamedQueryId: "c3d4e5f6-a7b8-9012-cdef-123456789012"
                      Name: "MyNamedQuery"
                      Description: "A sample named query"
                      Database: "my_database"
                      QueryString: "SELECT * FROM my_table WHERE date > '2024-01-01'"
                      WorkGroup: "primary"
  /?Action=ListNamedQueries:
    post:
      operationId: listNamedQueries
      summary: Amazon Athena List Named Queries
      description: Provides a list of available query IDs only for queries saved in the specified workgroup.
      tags:
        - Named Queries
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListNamedQueriesInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  WorkGroup: "primary"
                  MaxResults: 10
      responses:
        '200':
          description: Named query IDs listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNamedQueriesOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    NamedQueryIds:
                      - "c3d4e5f6-a7b8-9012-cdef-123456789012"
                    NextToken: ""
  /?Action=BatchGetNamedQuery:
    post:
      operationId: batchGetNamedQuery
      summary: Amazon Athena Batch Get Named Query
      description: Returns the details of a single named query or a list of up to 50 queries, which you provide as an array of query ID strings.
      tags:
        - Named Queries
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetNamedQueryInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  NamedQueryIds:
                    - "c3d4e5f6-a7b8-9012-cdef-123456789012"
      responses:
        '200':
          description: Named queries retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetNamedQueryOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    NamedQueries:
                      - NamedQueryId: "c3d4e5f6-a7b8-9012-cdef-123456789012"
                        Name: "MyNamedQuery"
                        Database: "my_database"
                        QueryString: "SELECT * FROM my_table"
                    UnprocessedNamedQueryIds: []
  /?Action=CreateWorkGroup:
    post:
      operationId: createWorkGroup
      summary: Amazon Athena Create Work Group
      description: Creates a workgroup with the specified name. A workgroup can contain one or more named queries or scheduled queries.
      tags:
        - Work Groups
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkGroupInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  Name: "my-workgroup"
                  Description: "Production workgroup"
                  Configuration:
                    ResultConfiguration:
                      OutputLocation: "s3://my-bucket/workgroup-results/"
                    EnforceWorkGroupConfiguration: true
                    PublishCloudWatchMetricsEnabled: true
                  Tags:
                    - Key: "Environment"
                      Value: "Production"
      responses:
        '200':
          description: Work group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWorkGroupOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=DeleteWorkGroup:
    post:
      operationId: deleteWorkGroup
      summary: Amazon Athena Delete Work Group
      description: Deletes the workgroup with the specified name. The primary workgroup cannot be deleted.
      tags:
        - Work Groups
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteWorkGroupInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  WorkGroup: "my-workgroup"
                  RecursiveDeleteOption: true
      responses:
        '200':
          description: Work group deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWorkGroupOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=GetWorkGroup:
    post:
      operationId: getWorkGroup
      summary: Amazon Athena Get Work Group
      description: Returns information about the workgroup with the specified name.
      tags:
        - Work Groups
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWorkGroupInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  WorkGroup: "primary"
      responses:
        '200':
          description: Work group retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkGroupOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    WorkGroup:
                      Name: "primary"
                      Description: "Primary workgroup"
                      State: "ENABLED"
                      Configuration:
                        ResultConfiguration:
                          OutputLocation: "s3://my-bucket/results/"
                        EnforceWorkGroupConfiguration: false
  /?Action=UpdateWorkGroup:
    post:
      operationId: updateWorkGroup
      summary: Amazon Athena Update Work Group
      description: Updates the workgroup with the specified name. The workgroup's name cannot be changed.
      tags:
        - Work Groups
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkGroupInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  WorkGroup: "my-workgroup"
                  Description: "Updated description"
                  State: "ENABLED"
      responses:
        '200':
          description: Work group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateWorkGroupOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=ListWorkGroups:
    post:
      operationId: listWorkGroups
      summary: Amazon Athena List Work Groups
      description: Lists available workgroups for the account.
      tags:
        - Work Groups
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListWorkGroupsInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  MaxResults: 10
      responses:
        '200':
          description: Work groups listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkGroupsOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    WorkGroups:
                      - Name: "primary"
                        State: "ENABLED"
                        Description: "Primary workgroup"
                    NextToken: ""
  /?Action=CreateDataCatalog:
    post:
      operationId: createDataCatalog
      summary: Amazon Athena Create Data Catalog
      description: Creates (registers) a data catalog with the specified name and properties. Catalogs created are visible to all users of the same AWS account.
      tags:
        - Data Catalogs
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataCatalogInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  Name: "my-catalog"
                  Type: "GLUE"
                  Description: "AWS Glue data catalog"
                  Parameters:
                    catalog-id: "123456789012"
                  Tags:
                    - Key: "Environment"
                      Value: "Production"
      responses:
        '200':
          description: Data catalog created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDataCatalogOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=DeleteDataCatalog:
    post:
      operationId: deleteDataCatalog
      summary: Amazon Athena Delete Data Catalog
      description: Deletes a data catalog.
      tags:
        - Data Catalogs
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDataCatalogInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  Name: "my-catalog"
      responses:
        '200':
          description: Data catalog deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDataCatalogOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=GetDataCatalog:
    post:
      operationId: getDataCatalog
      summary: Amazon Athena Get Data Catalog
      description: Returns the specified data catalog.
      tags:
        - Data Catalogs
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDataCatalogInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  Name: "AwsDataCatalog"
      responses:
        '200':
          description: Data catalog retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDataCatalogOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    DataCatalog:
                      Name: "AwsDataCatalog"
                      Description: "Default AWS Glue Data Catalog"
                      Type: "GLUE"
                      Parameters:
                        catalog-id: "123456789012"
  /?Action=ListDataCatalogs:
    post:
      operationId: listDataCatalogs
      summary: Amazon Athena List Data Catalogs
      description: Lists the data catalogs in the current AWS account.
      tags:
        - Data Catalogs
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDataCatalogsInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  MaxResults: 10
      responses:
        '200':
          description: Data catalogs listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataCatalogsOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    DataCatalogsSummary:
                      - CatalogName: "AwsDataCatalog"
                        Type: "GLUE"
                    NextToken: ""
  /?Action=ListDatabases:
    post:
      operationId: listDatabases
      summary: Amazon Athena List Databases
      description: Lists the databases in the specified data catalog.
      tags:
        - Databases
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatabasesInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  CatalogName: "AwsDataCatalog"
                  MaxResults: 10
      responses:
        '200':
          description: Databases listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatabasesOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    DatabaseList:
                      - Name: "my_database"
                        Description: "Production database"
                    NextToken: ""
  /?Action=GetDatabase:
    post:
      operationId: getDatabase
      summary: Amazon Athena Get Database
      description: Returns a database object for the specified database and data catalog.
      tags:
        - Databases
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDatabaseInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  CatalogName: "AwsDataCatalog"
                  DatabaseName: "my_database"
      responses:
        '200':
          description: Database retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatabaseOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    Database:
                      Name: "my_database"
                      Description: "Production database"
                      Parameters:
                        classification: "parquet"
  /?Action=ListTableMetadata:
    post:
      operationId: listTableMetadata
      summary: Amazon Athena List Table Metadata
      description: Lists the metadata for the tables in the specified data catalog database.
      tags:
        - Table Metadata
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTableMetadataInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  CatalogName: "AwsDataCatalog"
                  DatabaseName: "my_database"
                  MaxResults: 10
      responses:
        '200':
          description: Table metadata listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTableMetadataOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    TableMetadataList:
                      - Name: "my_table"
                        TableType: "EXTERNAL_TABLE"
                        Columns:
                          - Name: "id"
                            Type: "int"
                          - Name: "name"
                            Type: "string"
                    NextToken: ""
  /?Action=GetTableMetadata:
    post:
      operationId: getTableMetadata
      summary: Amazon Athena Get Table Metadata
      description: Returns table metadata for the specified catalog, database, and table.
      tags:
        - Table Metadata
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTableMetadataInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  CatalogName: "AwsDataCatalog"
                  DatabaseName: "my_database"
                  TableName: "my_table"
      responses:
        '200':
          description: Table metadata retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTableMetadataOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    TableMetadata:
                      Name: "my_table"
                      TableType: "EXTERNAL_TABLE"
                      Columns:
                        - Name: "id"
                          Type: "int"
                        - Name: "name"
                          Type: "string"
                      Parameters:
                        classification: "parquet"
                        location: "s3://my-bucket/my_table/"
  /?Action=CreatePreparedStatement:
    post:
      operationId: createPreparedStatement
      summary: Amazon Athena Create Prepared Statement
      description: Creates a prepared statement for use with SQL queries in Athena.
      tags:
        - Prepared Statements
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePreparedStatementInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  StatementName: "my_prepared_statement"
                  WorkGroup: "primary"
                  QueryStatement: "SELECT * FROM my_table WHERE id = ?"
                  Description: "Query by ID"
      responses:
        '200':
          description: Prepared statement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePreparedStatementOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=DeletePreparedStatement:
    post:
      operationId: deletePreparedStatement
      summary: Amazon Athena Delete Prepared Statement
      description: Deletes the prepared statement with the specified name from the specified workgroup.
      tags:
        - Prepared Statements
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePreparedStatementInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  StatementName: "my_prepared_statement"
                  WorkGroup: "primary"
      responses:
        '200':
          description: Prepared statement deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePreparedStatementOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=GetPreparedStatement:
    post:
      operationId: getPreparedStatement
      summary: Amazon Athena Get Prepared Statement
      description: Retrieves the prepared statement with the specified name from the specified workgroup.
      tags:
        - Prepared Statements
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPreparedStatementInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  StatementName: "my_prepared_statement"
                  WorkGroup: "primary"
      responses:
        '200':
          description: Prepared statement retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreparedStatementOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    PreparedStatement:
                      StatementName: "my_prepared_statement"
                      WorkGroupName: "primary"
                      QueryStatement: "SELECT * FROM my_table WHERE id = ?"
                      Description: "Query by ID"
  /?Action=ListPreparedStatements:
    post:
      operationId: listPreparedStatements
      summary: Amazon Athena List Prepared Statements
      description: Lists the prepared statements in the specified workgroup.
      tags:
        - Prepared Statements
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPreparedStatementsInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  WorkGroup: "primary"
                  MaxResults: 10
      responses:
        '200':
          description: Prepared statements listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPreparedStatementsOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    PreparedStatements:
                      - StatementName: "my_prepared_statement"
                        LastModifiedTime: "2024-01-15T10:30:00Z"
                    NextToken: ""
  /?Action=TagResource:
    post:
      operationId: tagResource
      summary: Amazon Athena Tag Resource
      description: Adds one or more tags to an Athena resource. A tag is a label that you assign to an AWS Athena resource.
      tags:
        - Tags
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagResourceInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  ResourceARN: "arn:aws:athena:us-east-1:123456789012:workgroup/my-workgroup"
                  Tags:
                    - Key: "Environment"
                      Value: "Production"
      responses:
        '200':
          description: Tags added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResourceOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=UntagResource:
    post:
      operationId: untagResource
      summary: Amazon Athena Untag Resource
      description: Removes one or more tags from a resource.
      tags:
        - Tags
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UntagResourceInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  ResourceARN: "arn:aws:athena:us-east-1:123456789012:workgroup/my-workgroup"
                  TagKeys:
                    - "Environment"
      responses:
        '200':
          description: Tags removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UntagResourceOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
  /?Action=ListTagsForResource:
    post:
      operationId: listTagsForResource
      summary: Amazon Athena List Tags For Resource
      description: Lists the tags associated with an Athena resource.
      tags:
        - Tags
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTagsForResourceInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  ResourceARN: "arn:aws:athena:us-east-1:123456789012:workgroup/my-workgroup"
      responses:
        '200':
          description: Tags listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagsForResourceOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    Tags:
                      - Key: "Environment"
                        Value: "Production"
                    NextToken: ""
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4
  schemas:
    StartQueryExecutionInput:
      type: object
      required:
        - QueryString
      properties:
        QueryString:
          type: string
          description: The SQL query statements to be executed
        QueryExecutionContext:
          $ref: '#/components/schemas/QueryExecutionContext'
        ResultConfiguration:
          $ref: '#/components/schemas/ResultConfiguration'
        WorkGroup:
          type: string
          description: The name of the workgroup in which the query is being started
        ClientRequestToken:
          type: string
          description: A unique case-sensitive string used to ensure the request to create the query is idempotent
    StartQueryExecutionOutput:
      type: object
      properties:
        QueryExecutionId:
          type: string
          description: The unique ID of the query that ran as a result of this request
    StopQueryExecutionInput:
      type: object
      required:
        - QueryExecutionId
      properties:
        QueryExecutionId:
          type: string
          description: The unique ID of the query execution to stop
    StopQueryExecutionOutput:
      type: object
    GetQueryExecutionInput:
      type: object
      required:
        - QueryExecutionId
      properties:
        QueryExecutionId:
          type: string
          description: The unique ID of the query execution
    GetQueryExecutionOutput:
      type: object
      properties:
        QueryExecution:
          $ref: '#/components/schemas/QueryExecution'
    BatchGetQueryExecutionInput:
      type: object
      required:
        - QueryExecutionIds
      properties:
        QueryExecutionIds:
          type: array
          items:
            type: string
          description: An array of query execution IDs
    BatchGetQueryExecutionOutput:
      type: object
      properties:
        QueryExecutions:
          type: array
          items:
            $ref: '#/components/schemas/QueryExecution'
        UnprocessedQueryExecutionIds:
          type: array
          items:
            $ref: '#/components/schemas/UnprocessedQueryExecutionId'
    ListQueryExecutionsInput:
      type: object
      properties:
        NextToken:
          type: string
          description: A token generated by the Athena service that specifies where to continue pagination
        MaxResults:
          type: integer
          description: The maximum number of query executions to return in this request
        WorkGroup:
          type: string
          description: The name of the workgroup from which queries are being returned
    ListQueryExecutionsOutput:
      type: object
      properties:
        QueryExecutionIds:
          type: array
          items:
            type: string
        NextToken:
          type: string
    GetQueryResultsInput:
      type: object
      required:
        - QueryExecutionId
      properties:
        QueryExecutionId:
          type: string
          description: The unique ID of the query execution
        NextToken:
          type: string
        MaxResults:
          type: integer
    GetQueryResultsOutput:
      type: object
      properties:
        UpdateCount:
          type: integer
          description: The number of rows inserted with a CREATE TABLE AS SELECT statement
        ResultSet:
          $ref: '#/components/schemas/ResultSet'
        NextToken:
          type: string
    GetQueryRuntimeStatisticsInput:
      type: object
      required:
        - QueryExecutionId
      properties:
        QueryExecutionId:
          type: string
    GetQueryRuntimeStatisticsOutput:
      type: object
      properties:
        QueryRuntimeStatistics:
          $ref: '#/components/schemas/QueryRuntimeStatistics'
    CreateNamedQueryInput:
      type: object
      required:
        - Name
        - Database
        - QueryString
      properties:
        Name:
          type: string
          description: The query name
        Description:
          type: string
          description: The query description
        Database:
          type: string
          description: The database to which the query belongs
        QueryString:
          type: string
          description: The contents of the query with all query statements
        ClientRequestToken:
          type: string
        WorkGroup:
          type: string
          description: The name of the workgroup in which the named query is being created
    CreateNamedQueryOutput:
      type: object
      properties:
        NamedQueryId:
          type: string
          description: The unique ID of the query
    DeleteNamedQueryInput:
      type: object
      required:
        - NamedQueryId
      properties:
        NamedQueryId:
          type: string
    DeleteNamedQueryOutput:
      type: object
    GetNamedQueryInput:
      type: object
      required:
        - NamedQueryId
      properties:
        NamedQueryId:
          type: string
    GetNamedQueryOutput:
      type: object
      properties:
        NamedQuery:
          $ref: '#/components/schemas/NamedQuery'
    ListNamedQueriesInput:
      type: object
      properties:
        NextToken:
          type: string
        MaxResults:
          type: integer
        WorkGroup:
          type: string
    ListNamedQueriesOutput:
      type: object
      properties:
        NamedQueryIds:
          type: array
          items:
            type: string
        NextToken:
          type: string
    BatchGetNamedQueryInput:
      type: object
      required:
        - NamedQueryIds
      properties:
        NamedQueryIds:
          type: array
          items:
            type: string
    BatchGetNamedQueryOutput:
      type: object
      properties:
        NamedQueries:
          type: array
          items:
            $ref: '#/components/schemas/NamedQuery'
        UnprocessedNamedQueryIds:
          type: array
          items:
            $ref: '#/components/schemas/UnprocessedNamedQueryId'
    CreateWorkGroupInput:
      type: object
      required:
        - Name
      properties:
        Name:
          type: string
          description: The workgroup name
        Configuration:
          $ref: '#/components/schemas/WorkGroupConfiguration'
        Description:
          type: string
        Tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    CreateWorkGroupOutput:
      type: object
    DeleteWorkGroupInput:
      type: object
      required:
        - WorkGroup
      properties:
        WorkGroup:
          type: string
        RecursiveDeleteOption:
          type: boolean
          description: The option to delete the workgroup and its contents even if the workgroup contains any named queries or query executions
    DeleteWorkGroupOutput:
      type: object
    GetWorkGroupInput:
      type: object
      required:
        - WorkGroup
      properties:
        WorkGroup:
          type: string
    GetWorkGroupOutput:
      type: object
      properties:
        WorkGroup:
          $ref: '#/components/schemas/WorkGroup'
    UpdateWorkGroupInput:
      type: object
      required:
        - WorkGroup
      properties:
        WorkGroup:
          type: string
        Description:
          type: string
        ConfigurationUpdates:
          $ref: '#/components/schemas/WorkGroupConfigurationUpdates'
        State:
          type: string
          enum:
            - ENABLED
            - DISABLED
    UpdateWorkGroupOutput:
      type: object
    ListWorkGroupsInput:
      type: object
      properties:
        NextToken:
          type: string
        MaxResults:
          type: integer
    ListWorkGroupsOutput:
      type: object
      properties:
        WorkGroups:
          type: array
          items:
            $ref: '#/components/schemas/WorkGroupSummary'
        NextToken:
          type: string
    CreateDataCatalogInput:
      type: object
      required:
        - Name
        - Type
      properties:
        Name:
          type: string
          description: The name of the data catalog to create
        Type:
          type: string
          enum:
            - LAMBDA
            - GLUE
            - HIVE
          description: The type of data catalog to create
        Description:
          type: string
        Parameters:
          type: object
          additionalProperties:
            type: string
        Tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    CreateDataCatalogOutput:
      type: object
    DeleteDataCatalogInput:
      type: object
      required:
        - Name
      properties:
        Name:
          type: string
    DeleteDataCatalogOutput:
      type: object
    GetDataCatalogInput:
      type: object
      required:
        - Name
      properties:
        Name:
          type: string
    GetDataCatalogOutput:
      type: object
      properties:
        DataCatalog:
          $ref: '#/components/schemas/DataCatalog'
    ListDataCatalogsInput:
      type: object
      properties:
        NextToken:
          type: string
        MaxResults:
          type: integer
    ListDataCatalogsOutput:
      type: object
      properties:
        DataCatalogsSummary:
          type: array
          items:
            $ref: '#/components/schemas/DataCatalogSummary'
        NextToken:
          type: string
    ListDatabasesInput:
      type: object
      required:
        - CatalogName
      properties:
        CatalogName:
          type: string
        NextToken:
          type: string
        MaxResults:
          type: integer
    ListDatabasesOutput:
      type: object
      properties:
        DatabaseList:
          type: array
          items:
            $ref: '#/components/schemas/Database'
        NextToken:
          type: string
    GetDatabaseInput:
      type: object
      required:
        - CatalogName
        - DatabaseName
      properties:
        CatalogName:
          type: string
        DatabaseName:
          type: string
    GetDatabaseOutput:
      type: object
      properties:
        Database:
          $ref: '#/components/schemas/Database'
    ListTableMetadataInput:
      type: object
      required:
        - CatalogName
        - DatabaseName
      properties:
        CatalogName:
          type: string
        DatabaseName:
          type: string
        Expression:
          type: string
          description: A regex filter that pattern-matches table names
        NextToken:
          type: string
        MaxResults:
          type: integer
    ListTableMetadataOutput:
      type: object
      properties:
        TableMetadataList:
          type: array
          items:
            $ref: '#/components/schemas/TableMetadata'
        NextToken:
          type: string
    GetTableMetadataInput:
      type: object
      required:
        - CatalogName
        - DatabaseName
        - TableName
      properties:
        CatalogName:
          type: string
        DatabaseName:
          type: string
        TableName:
          type: string
    GetTableMetadataOutput:
      type: object
      properties:
        TableMetadata:
          $ref: '#/components/schemas/TableMetadata'
    CreatePreparedStatementInput:
      type: object
      required:
        - StatementName
        - WorkGroup
        - QueryStatement
      properties:
        StatementName:
          type: string
          description: The name of the prepared statement
        WorkGroup:
          type: string
          description: The name of the workgroup to which the prepared statement belongs
        QueryStatement:
          type: string
          description: The query string for the prepared statement
        Description:
          type: string
    CreatePreparedStatementOutput:
      type: object
    DeletePreparedStatementInput:
      type: object
      required:
        - StatementName
        - WorkGroup
      properties:
        StatementName:
          type: string
        WorkGroup:
          type: string
    DeletePreparedStatementOutput:
      type: object
    GetPreparedStatementInput:
      type: object
      required:
        - StatementName
        - WorkGroup
      properties:
        StatementName:
          type: string
        WorkGroup:
          type: string
    GetPreparedStatementOutput:
      type: object
      properties:
        PreparedStatement:
          $ref: '#/components/schemas/PreparedStatement'
    ListPreparedStatementsInput:
      type: object
      required:
        - WorkGroup
      properties:
        WorkGroup:
          type: string
        NextToken:
          type: string
        MaxResults:
          type: integer
    ListPreparedStatementsOutput:
      type: object
      properties:
        PreparedStatements:
          type: array
          items:
            $ref: '#/components/schemas/PreparedStatementSummary'
        NextToken:
          type: string
    TagResourceInput:
      type: object
      required:
        - ResourceARN
        - Tags
      properties:
        ResourceARN:
          type: string
          description: Specifies the ARN of the Athena resource to which tags are to be added
        Tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    TagResourceOutput:
      type: object
    UntagResourceInput:
      type: object
      required:
        - ResourceARN
        - TagKeys
      properties:
        ResourceARN:
          type: string
        TagKeys:
          type: array
          items:
            type: string
    UntagResourceOutput:
      type: object
    ListTagsForResourceInput:
      type: object
      required:
        - ResourceARN
      properties:
        ResourceARN:
          type: string
        NextToken:
          type: string
        MaxResults:
          type: integer
    ListTagsForResourceOutput:
      type: object
      properties:
        Tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        NextToken:
          type: string
    QueryExecution:
      type: object
      properties:
        QueryExecutionId:
          type: string
        Query:
          type: string
        StatementType:
          type: string
          enum:
            - DDL
            - DML
            - UTILITY
        ResultConfiguration:
          $ref: '#/components/schemas/ResultConfiguration'
        QueryExecutionContext:
          $ref: '#/components/schemas/QueryExecutionContext'
        Status:
          $ref: '#/components/schemas/QueryExecutionStatus'
        Statistics:
          $ref: '#/components/schemas/QueryExecutionStatistics'
        WorkGroup:
          type: string
        EngineVersion:
          $ref: '#/components/schemas/EngineVersion'
    QueryExecutionContext:
      type: object
      properties:
        Database:
          type: string
          description: The name of the database used in the query execution
        Catalog:
          type: string
          description: The name of the data catalog used in the query execution
    QueryExecutionStatus:
      type: object
      properties:
        State:
          type: string
          enum:
            - QUEUED
            - RUNNING
            - SUCCEEDED
            - FAILED
            - CANCELLED
        StateChangeReason:
          type: string
        SubmissionDateTime:
          type: string
          format: date-time
        CompletionDateTime:
          type: string
          format: date-time
        AthenaError:
          $ref: '#/components/schemas/AthenaError'
    QueryExecutionStatistics:
      type: object
      properties:
        EngineExecutionTimeInMillis:
          type: integer
        DataScannedInBytes:
          type: integer
        DataManifestLocation:
          type: string
        TotalExecutionTimeInMillis:
          type: integer
        QueryQueueTimeInMillis:
          type: integer
        QueryPlanningTimeInMillis:
          type: integer
        ServiceProcessingTimeInMillis:
          type: integer
    ResultConfiguration:
      type: object
      properties:
        OutputLocation:
          type: string
          description: The location in Amazon S3 where your query results are stored
        EncryptionConfiguration:
          $ref: '#/components/schemas/EncryptionConfiguration'
        ExpectedBucketOwner:
          type: string
    EncryptionConfiguration:
      type: object
      properties:
        EncryptionOption:
          type: string
          enum:
            - SSE_S3
            - SSE_KMS
            - CSE_KMS
        KmsKey:
          type: string
    ResultSet:
      type: object
      properties:
        Rows:
          type: array
          items:
            $ref: '#/components/schemas/Row'
        ResultSetMetadata:
          $ref: '#/components/schemas/ResultSetMetadata'
    Row:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Datum'
    Datum:
      type: object
      properties:
        VarCharValue:
          type: string
    ResultSetMetadata:
      type: object
      properties:
        ColumnInfo:
          type: array
          items:
            $ref: '#/components/schemas/ColumnInfo'
    ColumnInfo:
      type: object
      properties:
        CatalogName:
          type: string
        SchemaName:
          type: string
        TableName:
          type: string
        Name:
          type: string
        Label:
          type: string
        Type:
          type: string
        Precision:
          type: integer
        Scale:
          type: integer
        Nullable:
          type: string
          enum:
            - NOT_NULL
            - NULLABLE
            - UNKNOWN
        CaseSensitive:
          type: boolean
    QueryRuntimeStatistics:
      type: object
      properties:
        Timeline:
          $ref: '#/components/schemas/QueryRuntimeStatisticsTimeline'
        Rows:
          $ref: '#/components/schemas/QueryRuntimeStatisticsRows'
        OutputStage:
          $ref: '#/components/schemas/QueryStage'
    QueryRuntimeStatisticsTimeline:
      type: object
      properties:
        QueryQueueTimeInMillis:
          type: integer
        QueryPlanningTimeInMillis:
          type: integer
        EngineExecutionTimeInMillis:
          type: integer
        ServiceProcessingTimeInMillis:
          type: integer
        TotalExecutionTimeInMillis:
          type: integer
    QueryRuntimeStatisticsRows:
      type: object
      properties:
        InputRows:
          type: integer
        InputBytes:
          type: integer
        OutputRows:
          type: integer
        OutputBytes:
          type: integer
    QueryStage:
      type: object
      properties:
        StageId:
          type: integer
        State:
          type: string
        OutputBytes:
          type: integer
        OutputRows:
          type: integer
        InputBytes:
          type: integer
        InputRows:
          type: integer
        ExecutionTime:
          type: integer
        QueryStagePlan:
          $ref: '#/components/schemas/QueryStagePlanNode'
        SubStages:
          type: array
          items:
            $ref: '#/components/schemas/QueryStage'
    QueryStagePlanNode:
      type: object
      properties:
        Name:
          type: string
        Identifier:
          type: string
        Children:
          type: array
          items:
            $ref: '#/components/schemas/QueryStagePlanNode'
        RemoteSources:
          type: array
          items:
            type: string
    NamedQuery:
      type: object
      properties:
        Name:
          type: string
        Description:
          type: string
        Database:
          type: string
        QueryString:
          type: string
        NamedQueryId:
          type: string
        WorkGroup:
          type: string
    UnprocessedQueryExecutionId:
      type: object
      properties:
        QueryExecutionId:
          type: string
        ErrorCode:
          type: string
        ErrorMessage:
          type: string
    UnprocessedNamedQueryId:
      type: object
      properties:
        NamedQueryId:
          type: string
        ErrorCode:
          type: string
        ErrorMessage:
          type: string
    WorkGroup:
      type: object
      properties:
        Name:
          type: string
        State:
          type: string
          enum:
            - ENABLED
            - DISABLED
        Configuration:
          $ref: '#/components/schemas/WorkGroupConfiguration'
        Description:
          type: string
        CreationTime:
          type: string
          format: date-time
    WorkGroupConfiguration:
      type: object
      properties:
        ResultConfiguration:
          $ref: '#/components/schemas/ResultConfiguration'
        EnforceWorkGroupConfiguration:
          type: boolean
        PublishCloudWatchMetricsEnabled:
          type: boolean
        BytesScannedCutoffPerQuery:
          type: integer
        RequesterPaysEnabled:
          type: boolean
        EngineVersion:
          $ref: '#/components/schemas/EngineVersion'
    WorkGroupConfigurationUpdates:
      type: object
      properties:
        EnforceWorkGroupConfiguration:
          type: boolean
        ResultConfigurationUpdates:
          $ref: '#/components/schemas/ResultConfigurationUpdates'
        PublishCloudWatchMetricsEnabled:
          type: boolean
        BytesScannedCutoffPerQuery:
          type: integer
        RemoveBytesScannedCutoffPerQuery:
          type: boolean
        RequesterPaysEnabled:
          type: boolean
        EngineVersion:
          $ref: '#/components/schemas/EngineVersion'
    ResultConfigurationUpdates:
      type: object
      properties:
        OutputLocation:
          type: string
        RemoveOutputLocation:
          type: boolean
        EncryptionConfiguration:
          $ref: '#/components/schemas/EncryptionConfiguration'
        RemoveEncryptionConfiguration:
          type: boolean
        ExpectedBucketOwner:
          type: string
        RemoveExpectedBucketOwner:
          type: boolean
    WorkGroupSummary:
      type: object
      properties:
        Name:
          type: string
        State:
          type: string
        Description:
          type: string
        CreationTime:
          type: string
          format: date-time
        EngineVersion:
          $ref: '#/components/schemas/EngineVersion'
    EngineVersion:
      type: object
      properties:
        SelectedEngineVersion:
          type: string
          description: The engine version requested by the user
        EffectiveEngineVersion:
          type: string
          description: The engine version on which the query runs
    DataCatalog:
      type: object
      properties:
        Name:
          type: string
        Description:
          type: string
        Type:
          type: string
          enum:
            - LAMBDA
            - GLUE
            - HIVE
        Parameters:
          type: object
          additionalProperties:
            type: string
    DataCatalogSummary:
      type: object
      properties:
        CatalogName:
          type: string
        Type:
          type: string
          enum:
            - LAMBDA
            - GLUE
            - HIVE
    Database:
      type: object
      properties:
        Name:
          type: string
        Description:
          type: string
        Parameters:
          type: object
          additionalProperties:
            type: string
    TableMetadata:
      type: object
      properties:
        Name:
          type: string
        CreateTime:
          type: string
          format: date-time
        LastAccessTime:
          type: string
          format: date-time
        TableType:
          type: string
        Columns:
          type: array
          items:
            $ref: '#/components/schemas/Column'
        PartitionKeys:
          type: array
          items:
            $ref: '#/components/schemas/Column'
        Parameters:
          type: object
          additionalProperties:
            type: string
    Column:
      type: object
      properties:
        Name:
          type: string
        Type:
          type: string
        Comment:
          type: string
    PreparedStatement:
      type: object
      properties:
        StatementName:
          type: string
        QueryStatement:
          type: string
        WorkGroupName:
          type: string
        Description:
          type: string
        LastModifiedTime:
          type: string
          format: date-time
    PreparedStatementSummary:
      type: object
      properties:
        StatementName:
          type: string
        LastModifiedTime:
          type: string
          format: date-time
    Tag:
      type: object
      properties:
        Key:
          type: string
          description: A tag key
        Value:
          type: string
          description: A tag value
    AthenaError:
      type: object
      properties:
        ErrorCategory:
          type: integer
          description: An integer that specifies the error category
        ErrorType:
          type: integer
          description: An integer that specifies the error type
        Retryable:
          type: boolean
          description: True if the query might succeed if resubmitted
        ErrorMessage:
          type: string
          description: Contains a short description of the error that occurred
